
#header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: black;
  height: 10%;
  padding-left: 3.5%;
  padding-right: 3.5%;
}

#header .left {
  float: left;
  height: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
}

#header .left > .draw_logo {
  width: 22%;
  padding-right: 7%;
  margin: 0;
}

#header .left > p {
  margin-right: 4%;
  font-weight: bold;
  font-size: 1.2em;
}

#header > .right {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 3.5%;
  padding-right: 3.5%;
}

#header > .right > p {
  font-size: 1.2em;
}

#header > .right > a {
  height: 33%;
  margin-left: 3%;
}

#header > .right > a > img {
  height: 100%;
}

#header .border {
  background: white;
  width: 1px;
  height: 40px;
  margin-left: 4%;
  margin-right: 2%;
}