body {
	margin: 0;
	padding: 0;
	background-color: rgb(0, 0, 0);
	color: white;
	font-family: 'Inter', sans-serif;
}

main {
	margin: 0 auto;
}

.frame {
	border: 1px solid #ffffff;
	height: 100%;
}

#top {
	z-index: 2;
	text-align: center;
}

#top ul {
	margin: 0;
	padding: 0;
	column-count: 2;
	list-style: none;
}

#top ul li {
	margin-bottom: 30%;
}

#top ul li a {
	color: white;
	text-decoration: none;
}

#images {
	position: relative;
	width: 100%;
}

.frame img {
	object-fit: cover;
}

footer {
	text-align: center;
}

.text_highlight {
	margin: 0px;
	font-weight: lighter;
	line-height: 1.2em;
}

.description {
	margin: 0px;
	line-height: 1.2em;
}

@media (min-width: 1405px) {
	main {
		width: 1405px;
	}

	#container {
		display: flex;
	}

	.frame {
		display: flex;
	}

	.margin {
		height: 158px;
	}

	.submargin {
		width: 118px;
	}

	#top {
		width: 713px;
	}

	#top ul {
		column-gap: 100px;
	}

	#top ul li a {
		font-size: 32px;
	}

	#images {
		width: 574px;
		height: 838px;
	}

	#images div img:nth-child(1) {
		position: absolute;
		top: 20px;
		right: 20px;
	}

	#images div img:nth-child(2) {
		position: absolute;
		top: 296px;
		left: 20px;
	}

	#images div img:nth-child(3) {
		position: absolute;
		right: 20px; 
		bottom: 20px;
		width: 257px;
		height: 389px;
	}

	#about {
		margin: 158px;
	}

	.text_highlight {
		font-size: 96px;
		height: 232px;
	}

	.description {
		height: 352px;
		font-size: 36px;
	}

	footer {
		margin-top: 158px;
		margin-bottom: 158px;
	}
}

@media (min-width: 960px) and (max-width: 1405px) {
	main {
		display:flex;
		flex-direction: column;
		width: 71%;
	}

	.margin {
		height: 118px;
	}

	.submargin {
		height: 118px;
	}

	#top ul {
		column-gap: 10%;
	}

	#top ul li a {
		font-size: 32px;
	}

	#images {
		position: relative;
		height: 838px;
	}

	#images div img:nth-child(1) {
		position: absolute;
		top: 20px;
		right: 80px;
	}

	#images div img:nth-child(2) {
		position: absolute;
		top: 296px;
		left: 80px;
	}

	#images div img:nth-child(3) {
		position: absolute;
		right: 80px; 
		bottom: 20px;
		width: 257px;
		height: 389px;
	}

	#about {
		margin-right: 158px;
		margin-left: 158px;
		margin-top: 79px;
		margin-bottom: 79px;
	}

	.text_highlight {
		height: fit-content;
		font-size: clamp(64px, 2.2vw, 96px);
	}

	.description {
		font-size: 2.2vw;
		height: fit-content;
	}

	footer {
		margin-top: 158px;
		margin-bottom: 158px;
	}
}

@media (max-width: 960px) {
	main {
		width: 70%;
	}

	.margin {
		height: 118px;
	}

	.submargin {
		height: 118px;
	}

	#top ul {
		column-gap: 10%;
	}

	#top {
		width: 100%;
	}

	#top ul li a {
		font-size: clamp(12px, 3.5vw, 32px);
	}

	#about {
		order: 1;
		margin-right: 45px;
		margin-left: 45px;
		margin-top: 8.32px;
		margin-bottom: 8.32px;
	}

	.text_highlight {
		height: fit-content;
	}

	.description {
		font-size: 2.3vw;
		height: fit-content;
	}

	footer {
		margin-top: 29px;
		margin-bottom: 29px;
	}
}