body.svelte-1w5m3rm.svelte-1w5m3rm.svelte-1w5m3rm {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: Jost, Roboto, "M PLUS 1p", Hiragino Kaku Gothic Pro,
    ヒラギノ角ゴ Pro W3, Meiryo, メイリオ, 游ゴシック Medium, Yu Gothic Medium,
    游ゴシック体, Yu Gothic, YuGothic, MS PGothic, Osaka, arial, sans-serif;
}
a.svelte-1w5m3rm.svelte-1w5m3rm.svelte-1w5m3rm,
a.svelte-1w5m3rm.svelte-1w5m3rm.svelte-1w5m3rm:visited {
  color: #fff;
  text-decoration: none;
}
b.svelte-1w5m3rm.svelte-1w5m3rm.svelte-1w5m3rm {
  font-weight: 500;
}
#video.svelte-1w5m3rm.svelte-1w5m3rm.svelte-1w5m3rm {
  margin: 0;
  padding: 0;
  top: 0;
  position: fixed;
  z-index: -2;
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
}
#wrapper.svelte-1w5m3rm.svelte-1w5m3rm.svelte-1w5m3rm {
  background: url(./images/bg_trans.png) repeat;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}
.navi_map.svelte-1w5m3rm.svelte-1w5m3rm.svelte-1w5m3rm {
  border: 0;
}
#startView.svelte-1w5m3rm.svelte-1w5m3rm.svelte-1w5m3rm {
  margin: 0;
  padding: 0;
  height: 100vh;
}
h1.svelte-1w5m3rm.svelte-1w5m3rm.svelte-1w5m3rm {
  padding-top: 20vh;
  text-align: center;
}
h1.svelte-1w5m3rm img.svelte-1w5m3rm.svelte-1w5m3rm {
  display: block;
  margin: auto;
}
.description.svelte-1w5m3rm.svelte-1w5m3rm.svelte-1w5m3rm {
  width: 600px;
  background-color: #0a0a0acc;
  padding: 0.5%;
  margin: 10vh auto;
  border-radius: 6px;
}
.description.svelte-1w5m3rm p.svelte-1w5m3rm.svelte-1w5m3rm {
  font-size: 18pt;
  text-align: center;
}
.social.svelte-1w5m3rm.svelte-1w5m3rm.svelte-1w5m3rm {
  margin: 0 auto;
  width: 60%;
  opacity: 0.9;
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
}
.social.svelte-1w5m3rm li.svelte-1w5m3rm.svelte-1w5m3rm {
  width: 100%;
  text-align: center;
  vertical-align: middle;
  list-style: none;
}
.social.svelte-1w5m3rm li p.svelte-1w5m3rm.svelte-1w5m3rm {
  margin: 2% 0 10%;
  font-size: 12pt;
}
.social.svelte-1w5m3rm li p.svelte-1w5m3rm img.svelte-1w5m3rm {
  height: 40px;
}
.about.svelte-1w5m3rm.svelte-1w5m3rm.svelte-1w5m3rm {
  width: 500px;
  background-color: #0a0a0acc;
  padding: 0.5%;
  margin: 4% auto 0;
  border-radius: 6px;
  text-align: center;
}
.about.svelte-1w5m3rm p.svelte-1w5m3rm.svelte-1w5m3rm:first-child {
  font-size: 18pt;
}
.about.svelte-1w5m3rm p.svelte-1w5m3rm.svelte-1w5m3rm {
  line-height: 40%;
  font-size: 13pt;
}
.about.svelte-1w5m3rm iframe.svelte-1w5m3rm.svelte-1w5m3rm {
  width: 450px;
  height: 450px;
  filter: grayscale(50%) invert(92%) contrast(83%);
}
.about_description.svelte-1w5m3rm.svelte-1w5m3rm.svelte-1w5m3rm {
  margin: 2% 0;
  display: inline-block;
  font-size: 11pt !important;
  line-height: 1.5 !important;
}
.about.svelte-1w5m3rm .annotation.svelte-1w5m3rm.svelte-1w5m3rm {
  padding: 0 0 2%;
  font-size: 11pt !important;
}
.about.svelte-1w5m3rm .caution.svelte-1w5m3rm.svelte-1w5m3rm {
  font-size: 13px;
  line-height: 1.2;
  text-align: left;
  width: 70%;
  background-color: #272727cc;
  color: #f79999;
  padding: 2%;
  margin: 3% auto;
  border-radius: 6px;
}
.performer.svelte-1w5m3rm.svelte-1w5m3rm.svelte-1w5m3rm {
  width: 500px;
  background-color: #0a0a0acc;
  padding: 0.5%;
  margin: 4% auto;
  border-radius: 6px;
  text-align: center;
}
.performer.svelte-1w5m3rm p.svelte-1w5m3rm.svelte-1w5m3rm:first-child {
  font-size: 18pt;
}
.performer.svelte-1w5m3rm .role.svelte-1w5m3rm.svelte-1w5m3rm {
  margin: 0;
  font-size: 13pt;
}
.performer.svelte-1w5m3rm .name.svelte-1w5m3rm.svelte-1w5m3rm {
  margin: 0 0 2%;
  font-weight: 500;
  font-size: 14pt;
}
footer.svelte-1w5m3rm.svelte-1w5m3rm.svelte-1w5m3rm {
  padding: 2% 0 0;
  background-image: linear-gradient(0deg, #000, #0f0f0f33);
  text-align: center;
}
footer.svelte-1w5m3rm p.svelte-1w5m3rm.svelte-1w5m3rm {
  margin: 0;
}
footer.svelte-1w5m3rm p.svelte-1w5m3rm.svelte-1w5m3rm:first-child {
  margin-bottom: 1%;
}
footer.svelte-1w5m3rm p.svelte-1w5m3rm:first-child img.svelte-1w5m3rm {
  width: 8%;
}
footer.svelte-1w5m3rm p.svelte-1w5m3rm.svelte-1w5m3rm:last-child {
  padding-bottom: 1%;
}
#about.svelte-1w5m3rm.svelte-1w5m3rm.svelte-1w5m3rm,
#performer.svelte-1w5m3rm.svelte-1w5m3rm.svelte-1w5m3rm {
  padding-top: 1px;
}
@media (max-height: 520px) {
  #startView.svelte-1w5m3rm.svelte-1w5m3rm.svelte-1w5m3rm {
    margin: 0;
    padding: 0;
    height: 520px;
  }
}
@media (max-width: 1000px) {
  footer.svelte-1w5m3rm p.svelte-1w5m3rm:first-child img.svelte-1w5m3rm {
    width: 200px;
  }
}
@media (max-width: 760px) {
  h1.svelte-1w5m3rm.svelte-1w5m3rm.svelte-1w5m3rm {
    padding-top: 15vh;
  }
  h1.svelte-1w5m3rm img.svelte-1w5m3rm.svelte-1w5m3rm {
    width: 80%;
    display: block;
    margin: auto;
  }
  .description.svelte-1w5m3rm.svelte-1w5m3rm.svelte-1w5m3rm {
    width: 80%;
  }
  .social.svelte-1w5m3rm.svelte-1w5m3rm.svelte-1w5m3rm {
    width: 90%;
  }
  .social.svelte-1w5m3rm li p.svelte-1w5m3rm.svelte-1w5m3rm {
    margin: 2% 0 20%;
    font-size: 11pt;
  }
  .about.svelte-1w5m3rm.svelte-1w5m3rm.svelte-1w5m3rm {
    width: 80%;
  }
  .about.svelte-1w5m3rm p.svelte-1w5m3rm.svelte-1w5m3rm {
    font-size: 11pt;
  }
  .about_description.svelte-1w5m3rm.svelte-1w5m3rm.svelte-1w5m3rm {
    font-size: 10pt !important;
    line-height: 1.5 !important;
  }
  .about.svelte-1w5m3rm .caution.svelte-1w5m3rm.svelte-1w5m3rm {
    width: 85%;
  }
  .about.svelte-1w5m3rm iframe.svelte-1w5m3rm.svelte-1w5m3rm {
    width: 90%;
    height: 400px;
    filter: grayscale(50%) invert(92%) contrast(83%);
  }
  .performer.svelte-1w5m3rm.svelte-1w5m3rm.svelte-1w5m3rm {
    width: 80%;
  }
  footer.svelte-1w5m3rm p.svelte-1w5m3rm.svelte-1w5m3rm {
    font-size: 10pt;
  }
  footer.svelte-1w5m3rm p.svelte-1w5m3rm:first-child img.svelte-1w5m3rm {
    width: 120px;
  }
}
